/*
PROGRAMMER: Frederick Wachter
DATE CREATED: 2016-04-13
PURPOSE: Engineering Portfolio of Frederick Wachter
CONTACT INFO: wachterfreddy@gmail.com
*/

/* -------------------- ----- -------------------- */
/* -------------------- Fonts -------------------- */
/* -------------------- ----- -------------------- */
@font-face {
	font-family:SlimJoe;
	src: url(font/Slim_Joe.otf) format("opentype");
}
@font-face {
	font-family:HelveticaNeue-Thin;
	src: url(font/HelveticaNeue-Thin.otf) format("opentype");
}
@font-face {
	font-family:HelveticaNeue-Light;
	src: url(font/HelveticaNeue-Light.otf) format("opentype");
}
@font-face {
	font-family:HelveticaNeue-CondensedBold;
	src: url(font/HelveticaNeue-CondensedBold.otf) format("opentype");
}
@font-face {
	font-family:FontAwesome;
	src: url(font/fontawesome-webfont.eot);
	src: url(font/fontawesome-webfont.eot?#iefix) format('embedded-opentype'), 
		 url(font/fontawesome-webfont.woff) format('woff'), 
		 url(font/fontawesome-webfont.ttf) format('truetype'),
		 url(font/fontawesome-webfont.svg) format('svg');
	font-weight:normal;
	font-style:normal;
}

.icon-desktop:before {
	position:relative;
	font-family:FontAwesome;
	content: "\f108";
	font-style:normal;
	font-size:30px;
	color:rgb(225,225,224);
}
.icon-youtube:before {
	position:relative;
	top:-3px;
	margin-left:8px;
	font-family:FontAwesome;
	content: "\f167";
	font-style:normal;
	font-size:27px;
	color:rgb(225,225,224);
}
.icon-home:before {
	position:relative;
	margin-left:8px;
	font-family:FontAwesome;
	content: "\f015";
	font-style:normal;
	font-size:30px;
	color:rgb(225,225,224);
}
.icon-github:before {
	position:relative;
	margin-left:8px;
	font-family:FontAwesome;
	content: "\f09b";
	font-style:normal;
	font-size:35px;
	color:rgb(225,225,224);
}
.icon-newspaper:before {
	position:relative;
	top:2px;
	margin-left:9px;
	font-family:FontAwesome;
	content: "\f1ea";
	font-style:normal;
	font-size:35px;
	color:rgb(225,225,224);
}
.icon-info:before {
	position:relative;
	margin-left:8px;
	font-family:FontAwesome;
	content: "\f05a";
	font-style:normal;
	font-size:35px;
	color:rgb(225,225,224);
}
.icon-video:before {
	position:relative;
	margin-left:8px;
	font-family:FontAwesome;
	content: "\f04b";
	font-style:normal;
	font-size:30px;
	color:rgb(225,225,224);
}
.icon-facebook:before {
	position:relative;
	margin-left:8px;
	font-family:FontAwesome;
	content: "\f230";
	font-style:normal;
	font-size:35px;
	color:rgb(225,225,224);
}
.icon-instagram:before {
	position:relative;
	margin-left:8px;
	font-family:FontAwesome;
	content: "\f16d";
	font-style:normal;
	font-size:35px;
	color:rgb(225,225,224);
}
.icon-document:before {
	position:relative;
	top:-2px;
	margin-left:8px;
	font-family:FontAwesome;
	content: "\f15c";
	font-style:normal;
	font-size:27px;
	color:rgb(225,225,224);
}
.icon-blog:before {
	position:relative;
	margin-left:8px;
	font-family:FontAwesome;
	content: "\f143";
	font-style:normal;
	font-size:35px;
	color:rgb(225,225,224);
}

/* -------------------- --------- -------------------- */
/* -------------------- Reset CSS -------------------- */
/* -------------------- --------- -------------------- */
html {
	background-color:#0A0A0A;
}
body {
	max-width:100%;
	min-width:980px;
	margin:0px auto;
}
body, main, div {
	cursor:auto;
}
html, body, main {
	height:100%;
	width:100%;
	overflow:hidden;
}
html, body, main, div, section, img, h1 {
	z-index:0;
	font-family:HelveticaNeue-Thin, Helvetica, Arial;
}
html, body, main, div, section, img, h1, iframe, hr {
	margin:0;
	padding:0;
}
section {
	width:100%;
}
h1 {
	font-size:30px;
}
a {
	text-decoration:none;
}
::-webkit-scrollbar {
    width: 12px;
} 
::-webkit-scrollbar-track {
    -webkit-box-shadow:inset 0 0 6px rgba(0,0,0,0.3);
    border-radius:10px;
}
::-webkit-scrollbar-thumb {
    border-radius:10px;
    -webkit-box-shadow:inset 0 0 6px rgba(0,0,0,0.5); 
}

/* -------------------- --------------- -------------------- */
/* -------------------- General Classes -------------------- */
/* -------------------- --------------- -------------------- */
.icon:hover {
	opacity:0.8;
	cursor:pointer;
}
.pointer:hover {
	cursor:pointer;
}
.center {
	margin:0px auto;
	text-align:center;
	max-width:1500px;
}
.right {
	position:relative;
	float:right;
}
.left {
	position:relative;
	float:left;
}
.clearBoth:before, .clearBoth:after {
	clear:both;
	content:".";
	display:block;
	height:0;
	width:0;
	line-height:0;
	visibility:hidden;
}
.spacer {
	height:20px;
	width:100%;
}
.bottomSpacer {
	height:160px;
	width:100%;
}
.scroll {
	overflow-y:scroll;
}
.background {
	-webkit-transition:opacity 0.4s;
	transition:opacity 0.4s;
}
.largeText {
	font-family:HelveticaNeue-CondensedBold, HelveticaNeue-Thin, Helvetica, Arial;
	font-size:28px;
}
.mediumText {
	padding-top:5px;
	font-size:18px;
}
.smallText {
	font-size:16px;
}
.pageTitle {
	margin:0px auto;
	font-size:50px;
	font-family:HelveticaNeue-CondensedBold, HelveticaNeue-Thin, Helvetica, Arial;
	color:white;
}
.pageText {
	margin:10px auto 20px auto;
	font-size:20px;
	color:white;
}
.hidden {
	display:none;
}
.hideScrollbar {
	overflow-y:hidden;
}
.showScrollbar {
	overflow-y:visible;
}
.fullPage {
	position:absolute;
	height:100%;
	width:100%;
}
.black_out {
	-webkit-box-shadow:0px 0px 40px 25px rgba(0, 0, 0, 0.85);
	-moz-box-shadow:0px 0px 40px 25px rgba(0, 0, 0, 0.85);
	-o-box-shadow:0px 0px 40px 25px rgba(0, 0, 0, 0.85);
	box-shadow:0px 0px 40px 25px rgba(0, 0, 0, 0.85);
	background-color:rgba(0, 0, 0, 0.85);;
}

/* -------------------- --------------- -------------------- */
/* -------------------- Sidebar Seciton -------------------- */
/* -------------------- --------------- -------------------- */
#sidebar {
	position:fixed;
	top:200px;
	right:0;
	height:229px;
	width:64px;
	border-radius:5px 0px 0px 5px;
	background-color:black;
	z-index:2;
	-webkit-transition:right 1s;
	transition:right 1s;
}
.sidebarIcon {
	margin:7px 7px 0px 7px;
	width:50px;
}
		
/* -------------------- ------------- -------------------- */
/* -------------------- Intro Seciton -------------------- */
/* -------------------- ------------- -------------------- */
#intro {
	position:fixed;
	background:#0A0A0A url("img/Drexel_MainBuilding.png") no-repeat center center;
	background-size:cover;
}
#logo {
	position:absolute;
	margin:-73.5px 0 0 -125px;
	top:0px;
	left:0px;
	background-color:rgba(0,0,0,0.88);
	-webkit-box-shadow:0px 0px 55px 40px rgba(0,0,0,0.88);
	-moz-box-shadow:0px 0px 55px 40px rgba(0,0,0,0.88);
	-o-box-shadow:0px 0px 55px 40px rgba(0,0,0,0.88);
	box-shadow:0px 0px 55px 40px rgba(0,0,0,0.88);
	-webkit-transition:top 1.5s, box-shadow 1.5s, background-color 1.5s, margin 1.5s;
	transition:top 1.5s, box-shadow 1.5s, background-color 1.5s, margin 1.5s;
}
#mainLogo {
	width:250px;
	-webkit-transition:width 1.5s;
	transition:width 1.5s;
}
#introText {
	position:fixed;
	margin:110px 0 0 -187px;
	top:50%;
	left:50%;
	font-size:50px;
	color:white;
	-webkit-transition:opacity 1s;
	transition:opacity 1s;
}

/* -------------------- -------------- -------------------- */
/* -------------------- Footer Seciton -------------------- */
/* -------------------- -------------- -------------------- */
#footer {
	position:fixed;
	bottom:0;
	height:42px;
	width:100%;
	text-align:center;
}
#footerText {
	position:absolute;
	top:-15px;
	left:5px;
	font-size:25px;
	color:rgba(255,255,255,0.8);
}
#lastModified {
	position:absolute;
	top:5px;
	right:5px;
	font-size:15px;
	color:rgba(255,255,255,0.8);
}
.footerButton {
	margin:0px 10px 0px 10px;
	display:inline-block;
}
.active {
	background-color:black;
	height:20px;
	width:20px;
	border:2px solid white;
	border-radius:12px;
}
.notActive {
	background-color:white;
	height:20px;
	width:20px;
	border:2px solid black;
	border-radius:12px;
}

/* -------------------- -------------------- -------------------- */
/* -------------------- Page Classes and Ids -------------------- */
/* -------------------- -------------------- -------------------- */
#page1 {
	background:#0A0A0A url(img/ETH_ASL_YuMi.jpg) no-repeat center center;
}
#page2 {
	background:#0A0A0A url(img/ETH_ASL_Tint.png) no-repeat center center;
}
#page3 {
	background:#0A0A0A url(img/DrexelHyperloop_Tint.png) no-repeat center center;
}
#page4 {
	background:#0A0A0A url(img/DrexelHyperloopExpo.png) no-repeat center center;
}
#page1, #page2, #page3, #page4 {
	height:100%;
	background-size:cover;
}
#tint1 {
	background:-webkit-linear-gradient(141deg,rgba(15,184,173,0.8) 0%,rgba(31,200,219,0.8) 51%,rgba(44,181,232,0.8) 75%);
	background:linear-gradient(141deg,rgba(15,184,173,0.8) 0%,rgba(31,200,219,0.8) 51%,rgba(44,181,232,0.8) 75%);
}
#tint2 {
	background:-webkit-linear-gradient(141deg,rgba(44,181,232,0.8),rgba(95,44,130,0.8));
	background:linear-gradient(141deg,rgba(44,181,232,0.8),rgba(95,44,130,0.8));
}
#tint3 {
	background:-webkit-linear-gradient(141deg,rgba(95,44,130,0.8),rgba(236,111,102,0.8));
	background:linear-gradient(141deg,rgba(95,44,130,0.8),rgba(236,111,102,0.8));
}
#tint4 {
	background:-webkit-linear-gradient(141deg,rgba(0,0,0,0.95),rgba(0,0,0,0.4));
	background:linear-gradient(141deg,rgba(0,0,0,0.95),rgba(0,0,0,0.4));
}
#tint1, #tine2, #tint3, #tint4 {
	position:absolute;
	height:100%;
	width:100%;
	-webkit-backface-visibility:hidden;
}
#contentPage1, #contentPage2, #contentPage3, #contentPage4 {
	position:relative;
	top:0;
	-webkit-transition:top 1s;
	transition:top 1s;
}
.page {
	position:absolute;
	top:0;
	text-align:center;
	-webkit-transition:left 1.5s;
	transition:left 1.5s;
}
.linksBar {
	position:absolute;
	height:40px;
	width:100%;
	bottom:0px;
	opacity:0;
	-webkit-transition:all 0.5s;
	transition:all 0.5s;
}

/* -------------------- -------------------- -------------------- */
/* -------------------- Platform Development -------------------- */
/* -------------------- -------------------- -------------------- */
#platform_background_hexcopter {
	background:url(img/platforms/Hexcopter.jpg) no-repeat center center;
}
#platform_background_tdmr {
	background:url(img/platforms/Mapping.png) no-repeat center center;
}
#platform_background_robot_arm {
	background:url(img/platforms/Robot_Arm.png) no-repeat center center;
}
#platform_background_thor {
	background:url(img/platforms/THOR.jpg) no-repeat center center;
}
#platform_background_hyperloop {
	background:url(img/platforms/Hyperloop.png) no-repeat center center;
}
#platform_background_yumi {
	background:url(img/platforms/YuMi.png) no-repeat center center;
}
#platform_background_dragon {
	background:url(img/platforms/Dragon.jpg) no-repeat center center;
}
#platform_background_micromouse {
	background:white url(img/platforms/Micromouse.png) no-repeat center center;
}
#platform_background_swerve {
	background:white url(img/platforms/SwervePlatform.png) no-repeat center center;
}
#platform_background_auto_flight {
	background:white url(img/platforms/ATL.png) no-repeat center center;
}
#platform_background_auto_boat {
	background:white url(img/platforms/ATL.png) no-repeat center center;
}
#platform_background_soccer {
	background:white url(img/platforms/Soccer.png) no-repeat center center;
}
#platform_background_hexcopter, #platform_background_tdmr, #platform_background_robot_arm, 
#platform_background_thor, #platform_background_hyperloop, #platform_background_yumi, 
#platform_background_dragon, #platform_background_micromouse, #platform_background_swerve,
#platform_background_auto_flight, #platform_background_auto_boat, #platform_background_soccer {
	height:100%;
	width:100%;
	background-size:cover;
}
#platform_background_micromouse, #platform_background_swerve, #platform_background_auto_flight, 
#platform_background_auto_boat {
	background-size:contain;
}
.platform {
	display:inline-block;
	position:relative;
	margin:2px auto;
	height:200px;
	width:300px;
	cursor:pointer;
	background:rgba(25,25,25,0.95);
	-webkit-transition:height 0.5s;
	transition:height 0.5s;
}
.platformImage {
	top:2px;
	position:relative;
	height:150px;
	width:296px;
	margin:0px 2px;
	background:whitesmoke;
}
.platformDescription {
	top:0px;
	position:absolute;
	margin:5px 10px;
	opacity:0;
	cursor:pointer;
	-webkit-transition:opacity 0.5s;
	transition:opacity 0.5s;
}
.platform div div p, .platform div p {
	margin:5px;
	color:white;
}
.platform:hover {
	height:240px;
	background:rgba(25,25,25,1);
}
.platform:hover .platformImage {
	filter:brightness(0);
}
.platform:hover .blockTitle {
	color:rgba(232,232,232,0);
}
.platform:hover .linksBar {
	opacity:1;
}

#aboutMeDescription {
	margin:auto auto;
	padding:2.5px 30px;
	width:80%;
	text-align:center;
	border-radius:20px;
}

/* -------------------- ---------------------- -------------------- */
/* -------------------- Engineering Experience -------------------- */
/* -------------------- ---------------------- -------------------- */
#job_background_ATL {
	background:url(img/work/ATL.png) no-repeat center center;
}
#job_background_ASL {
	background:url(img/work/ASL.png) no-repeat center center;
}
#job_background_PTW {
	background:url(img/work/PTW.png) no-repeat center center;
}
#job_background_ATL, #job_background_ASL, #job_background_PTW {
	height:100%;
	width:100%;
	background-size:contain;
}
.job {
	position:relative;
	margin:30px auto;
	height:250px;
	width:550px;
	cursor:pointer;
	background:rgba(25,25,25,0.95);
	-webkit-transition:height 0.5s;
	transition:height 0.5s;
}
.jobImage {
	top:2px;
	position:relative;
	height:200px;
	width:546px;
	margin:0px 2px;
	background:whitesmoke;
}
.jobDescription {
	top:0px;
	position:absolute;
	margin:5px 10px;
	opacity:0;
	cursor:pointer;
	-webkit-transition:opacity 0.5s;
	transition:opacity 0.5s;
}
.job div div p, .job div p {
	margin:5px;
	color:white;
}
.job:hover {
	height:290px;
	background:rgba(25,25,25,1);
}
.job:hover .jobImage {
	filter:brightness(0);
}
.job:hover .blockTitle {
	color:rgba(232,232,232,0);
}
.job:hover .linksBar {
	opacity:1;
}

/* -------------------- ------------------ -------------------- */
/* -------------------- Project Experience -------------------- */
/* -------------------- ------------------ -------------------- */
#project_background_Hyperloop {
	background:url(img/projects/Hyperloop.png) no-repeat center center;
}
#project_background_LIT {
	background:url(img/projects/LIT.png) no-repeat center center;
}
#project_background_THOR {
	background:url(img/projects/THOR.jpg) no-repeat center center;
}
#project_background_Micromouse {
	background:url(img/projects/Micromouse.png) no-repeat center center;
}
#project_background_STAR {
	background:url(img/projects/STAR.png) no-repeat center center;
}
#project_background_Hackathon {
	background:url(img/projects/Hackathon.png) no-repeat center center;
}
#project_background_Hexcopter {
	background:url(img/projects/Hexcopter.png) no-repeat center center;
}
#project_background_MATLAB {
	background:url(img/projects/MATLAB.png) no-repeat center center;
}
#project_background_Golf {
	background:url(img/projects/Golf.png) no-repeat center center;
}
#project_background_RASCAL {
	background:url(img/projects/RASCAL.png) no-repeat center center;
}
#project_background_Canoe {
	background:url(img/projects/Canoe.jpg) no-repeat center center;
}
#project_background_Mead {
	background:url(img/projects/Mead.jpg) no-repeat center center;
}
#project_background_Mapping {
	background:url(img/projects/Mapping.png) no-repeat center center;
}
#project_background_Swerve {
	background:white url(img/projects/SwervePlatform.png) no-repeat center center;
}
#project_background_Soccer {
	background:white url(img/projects/Soccer.png) no-repeat center center;
}
#project_background_Hyperloop, #project_background_LIT, #project_background_THOR, 
#project_background_Micromouse, #project_background_STAR, #project_background_Hackathon, 
#project_background_Hexcopter, #project_background_MATLAB, #project_background_Golf, 
#project_background_RASCAL, #project_background_Canoe, #project_background_Mead, 
#project_background_Mapping, #project_background_Swerve, #project_background_Soccer {
	height:100%;
	width:100%;
	background-size:cover;
}
.project {
	display:inline-block;
	position:relative;
	margin:10px 10px;
	height:250px;
	width:475px;
	background-color:none;
	cursor:pointer;
	background:rgba(25,25,25,0.9);
	-webkit-transition:height 0.5s;
	transition:height 0.5s;
	border:1px solid white;
}
.projectImage {
	height:200px;
	width:471px;
	margin:2px;
}
.projectDescription {
	top:0px;
	position:absolute;
	margin:5px 10px;
	opacity:0;
	cursor:pointer;
	-webkit-transition:opacity 0.5s;
	transition:opacity 0.5s;
}
.project div div p, .project div p {
	margin:5px;
	color:white;
}
.project:hover {
	height:290px;
	background:rgba(25,25,25,1);
}
.project:hover .projectImage {
	filter:brightness(0);
}
.project:hover .blockTitle {
	color:rgba(232,232,232,0);
}
.project:hover .linksBar {
	opacity:1;
}

/* -------------------- ------------------------ -------------------- */
/* -------------------- General Block Properties -------------------- */
/* -------------------- ------------------------ -------------------- */
.blockTitle {
	top:-16px;
	position:relative;
	font-size:25px;
	color:rgba(232,232,232,0.9);
}

/* -------------------- ---------- -------------------- */
/* -------------------- Contact Me -------------------- */
/* -------------------- ---------- -------------------- */
#resumeButton {
	padding-top:4px;
	position:absolute;
	top:15px;
	right:0px;
	width:300px;
	height:40px;
	font-size:30px;
	font-family:HelveticaNeue-CondensedBold, HelveticaNeue-Thin, Helvetica, Arial;
	color:white;
}
#resumeButton:hover {
	background-color:white;
	color:black;
	cursor:pointer;
}

/* -------------------- ---- -------------------- */
/* -------------------- Form -------------------- */
/* -------------------- ---- -------------------- */
form {
    margin:10px auto;
    max-width:308px;
    text-align:center;
}
input, textarea {
	float:none;
	margin:5px; auto;
	padding:4px;
	width:100%;
	max-width:300px;
	border:none;
	border-radius:2px;
	font-size:18px;
	color:black;
	background-color:white;
}
input:focus {
	outline:none;
}
#userName, #userEmail, #userMessage {
	-webkit-box-shadow:inset 0px 0px 4px #0A0A0A;
	-moz-box-shadow:inset 0px 0px 4px #0A0A0A;
	-o-box-shadow:inset 0px 0px 4px #0A0A0A;
	box-shadow:inset 0px 0px 4px #0A0A0A;
}
#formSubmit {
	max-width:308px;
	font-family:HelveticaNeue-CondensedBold, HelveticaNeue-Thin, Helvetica, Arial;
	-webkit-box-shadow:0px 5px 10px #0A0A0A;
	-moz-box-shadow:0px 5px 10px #0A0A0A;
	-o-box-shadow:0px 5px 10px #0A0A0A;
	box-shadow:0px 5px 10px #0A0A0A;
}
#formSubmit:hover {
	-webkit-box-shadow:inset 0px 0px 5px #0A0A0A;
	-moz-box-shadow:inset 0px 0px 5px #0A0A0A;
	-o-box-shadow:inset 0px 0px 5px #0A0A0A;
	box-shadow:inset 0px 0px 5px #0A0A0A;


